h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}

h2 {
  color: white;
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Comic Sans Ms";
  font-weight: bold;
  font-size: 15;

}

body{
  background-image: url("https://i.pinimg.com/originals/06/7c/a7/067ca731338b6dbe22df67a28fcbdd32.jpg");
  display: block;
  margin-top: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  float: left;

}
img{
  width: 20%;
  position: relative;
}
.sidebar{
  float: right;
  font-weight: bold;
  text-indent: inherit;
  font-size: 40px;
  width: 50%;
}
