h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

p {
  font-family: "Comic Sans Ms";
  font-weight: bold;
  font-size: 35;
  float: right;
}

body{
  background-image: url("https://i.pinimg.com/originals/06/7c/a7/067ca731338b6dbe22df67a28fcbdd32.jpg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  float: left;
}

img{
  width: 50%;
  float: left;
}

header{
  list-style-type: none;
  background-color: none;
  width: 100%;
}

header ul{
  float: right;
}
