h1 {
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

p {
  font-family: "Comic Sans Ms";
  font-weight: bold;
  font-size: 55;
  float: left;
}

body{
  background-image: url("http://www.africauncovered.com/media/assets/67/a772f7af642ea81a76de24c1cf32b3b80b876d.jpg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
float: left;
}

img{
  width: 50%;
  float: right;
}

header{
  list-style-type: none;
  background-color: none;
  width: 100%;
}

header ul{
  float: right;
}

header ul li{
  font-size: 20px;
}

.columns {
  float: left;
}
